<!-- 
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Movie Buzz</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Watch movie or tv series</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/admin/showlist'"> Movies/Tv Shows </a>
      <a mat-list-item [routerLink]="'/admin/showdetail'"> Add New Show  </a>      
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh; padding-left:200px; padding-top: 100px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div>
  <router-outlet></router-outlet>
</div>